<!DOCTYPE html>
<html>
  <head>

    {% include "header.njk" %}
    <title> {{ title }} | Nuibits Limited </title>

  </head>
  <body class="text-gray-900">
    
    {% include "nav-components.njk" %}

    <main class="flex">

      {{ content | safe }}

    </main>

    {% include "footer.njk" %}

  </body>

  {% include "scripts.njk" %}

</html>