---
title: components
layout: default
---
{# header #}
<section class="my-6">
  <h1 class="heading text-4xl">components list</h1>
  <p class="text-gray-500">maybe a set of quick links here for the components?
  </p>
</section>

{# nav section #}
<section class="my-6">
  <h2 class="heading text-4xl">nav</h2>
  {# first nav #}
  <nav class="px-4 py-2 bg-gray-300 container flex flex-wrap items-center justify-between">
    <div class="mt-2 text-xl">
      <h1>
        Hippo<b>
          <span class="contrast">:</span>cast</b>
      </h1>
    </div>
    <ul class="flex">
      <li class="mr-6">
        <a href="#features">
          Features</a>
      </li>
      <li class="mr-6">
        <a href="#voices">
          Voices</a>
      </li>
      <li class="mr-6">
        <a href="#pricing">Pricing</a>
      </li>
      <li>
        <a href="#" class="block inline-block px-4 py-2 mr-4 text-sm leading-none text-gray-600 border border-gray-600 rounded hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0 lg:inline-block">Login</a>
      </li>
    </ul>
  </nav>
{# first nav code #}
  <div class="w-full rounded overflow-x-scroll bg-gray-900 text-purple-600 p-4 my-4">
    <h4 class="text-3xl text-pink-700">code</h4>
    <xmp>
      <nav class="px-4 py-2 bg-gray-300 container flex flex-wrap items-center justify-between">
        <div class="mt-2 text-xl">
          <h1>
            Hippo<b>
              <span class="contrast">:</span>cast</b>
          </h1>
        </div>
        <ul class="flex">
          <li class="mr-6">
            <a href="#features">
              Features</a>
          </li>
          <li class="mr-6">
            <a href="#voices">
              Voices</a>
          </li>
          <li class="mr-6">
            <a href="#pricing">Pricing</a>
          </li>
          <li>
            <a href="#" class="block inline-block px-4 py-2 mr-4 text-sm leading-none text-gray-600 border border-gray-600 rounded hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0 lg:inline-block">Login</a>
          </li>
        </ul>
      </nav>
    </xmp>
  </div>

  {# second nav #}
  {# second nav code #}
</section>

{# footer section #}
<section class="my-6">
  <h2 class="heading text-4xl">footer</h2>

{# footer one #}
  <footer class="py-8 text-center bg-gray-400 md:text-left">
    <div class="container mx-auto">
      <div class="flex flex-col items-center content-center justify-between lg:flex-row">
        <div class="flex flex-col items-center mx-auto lg:flex-row">
          <img src="/images/logo.png" class="w-8 lazy" alt="Logo"/>
          <span class="py-4 ml-0 text-sm text-gray-600 md:ml-4 lg:py-0">A Nuibits Limited Service, Copyright &copy; 2020</span>
        </div>
        <!-- Start Main Nav Bar -->
        <div class="mx-auto navbar">
          <ul class="flex navbar-nav flex-">
            <li class="px-2 active px-md-3">
              <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="/">Home</a>
            </li>
            <li class="px-2 px-md-3">
              <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="features.html">Features</a>
            </li>
            <li class="px-2 px-md-3">
              <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="pricing.html">Pricing</a>
            </li>
            <li class="hidden px-2 px-md-2 lg:block">
              <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="login.html">Login</a>
            </li>
            <li class="hidden px-2 px-md-2 signup lg:block">
              <a class="px-3 py-2 font-semibold text-gray-900 transition duration-500 ease-in-out bg-yellow-500 border border-yellow-600 rounded shadow cursor-pointer text-md hover:bg-yellow-600" href="signup.html">Signup for free</a>
            </li>
          </ul>
        </div>
        <!-- End Main Navbar -->
      </div>
    </div>
  </div>
</footer>
{# footer one code #}
<div class="w-full rounded overflow-x-scroll bg-gray-900 text-purple-600 p-4 my-4">
  <h4 class="text-3xl text-pink-700">code</h4>
  <xmp>
    <footer class="py-8 text-center md:text-left bg-gray-400">
      <div class="container mx-auto">
        <div class="flex flex-col items-center content-center justify-between lg:flex-row">
          <div class="flex flex-col items-center mx-auto lg:flex-row">
            <img src="/images/logo.png" class="w-8 lazy" alt="Logo"/>
            <span class="py-4 ml-0 text-sm text-gray-600 md:ml-4 lg:py-0">A Nuibits Limited Service, Copyright &copy; 2020</span>
          </div>
          <!-- Start Main Nav Bar -->
          <div class="mx-auto navbar">
            <ul class="flex navbar-nav flex-">
              <li class="px-2 active px-md-3">
                <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="/">Home</a>
              </li>
              <li class="px-2 px-md-3">
                <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="features.html">Features</a>
              </li>
              <li class="px-2 px-md-3">
                <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="pricing.html">Pricing</a>
              </li>
              <li class="hidden px-2 px-md-2 lg:block">
                <a class="text-sm text-gray-700 transition duration-500 ease-in-out hover:text-gray-900" href="login.html">Login</a>
              </li>
              <li class="hidden px-2 px-md-2 signup lg:block">
                <a class="px-3 py-2 font-semibold text-gray-900 transition duration-500 ease-in-out bg-yellow-500 border border-yellow-600 rounded shadow cursor-pointer text-md hover:bg-yellow-600" href="signup.html">Signup for free</a>
              </li>
            </ul>
          </div>
          <!-- End Main Navbar -->
        </div>
      </div>
    </div>
  </footer>
</xmp>
</div>

{# second footer #}
{# second footer code #}
</section>

{# alerts section #}
<section class="my-6">

<h2 class="heading text-4xl">alerts</h2>

{# div of display alerts #}
<div class="flex flex-col justify-center items center">

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-blue-500">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"/>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">blue!</b>
    This is a blue alert - check it out!
  </span>
  <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
    <span>×</span>
  </button>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"/>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">green!</b>
    This is a green alert - check it out!
  </span>
  <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
    <span>×</span>
  </button>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"/>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">red!</b>
    This is a red alert - check it out!
  </span>
  <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
    <span>×</span>
  </button>
</div>
</div>

{# single alert code #}
<div class="w-full rounded overflow-x-scroll bg-gray-900 text-purple-600 p-4 my-4">
<h4 class="text-3xl text-pink-700">code</h4>
<xmp>

  <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-blue-500">
    <span class="text-xl inline-block mr-5 align-middle">
      <i class="fas fa-bell"/>
    </span>
    <span class="inline-block align-middle mr-8">
      <b class="capitalize">blue!</b>
      blue alert, change parent div bg class to change color 
    </span>
    <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
      <span>×</span>
    </button>
  </div>
</xmp>
</div>

</section>