---
title: nuibits
layout: default
---

<h1 class="text-4xl text-red-700"> index page </h1>

<h3 class="text-xl text-green-700"> from here we can go to the about section, components section, or to the github repo  </h3>
